.countries{
    margin: 1rem;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.countries img {
    border-radius: 500px;
}

/* @media screen and (max-width: 400px) {
    .countries {
        margin: .7rem;
        padding: 15px;
    }

    .countries img {
        width: 100px;
        height: 100%;
    }

    .countries h3 {
        font-size: 20px;
    }
} */

